.title {
  text-align: center;

}

.btn-primary {
 background-color: green;
 margin: 2%;
 border-color: green;

}

.diary-container{
  animation: fadeIn 0.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
  }