<app-header></app-header>

<section class="home_banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content row">
					<div class="col-lg-12">

                  <div class="container">
                    <app-patient-home-page
                      *ngIf="patientStatusView.isHomeView">
                    </app-patient-home-page>

                    <app-patient-request-appointments
                      *ngIf="patientStatusView.isRequestAppointmentView">
                    </app-patient-request-appointments>

                    <app-patient-select-specialist
                      *ngIf="patientStatusView.isSelectSpecialist">
                    </app-patient-select-specialist>

                </div>
						<a class="main_btn mr-10" href="#">get started</a>
					</div>
				</div>
			</div>
		</div>

<app-footer></app-footer>

</section>
