  <div class="buttons-container">
    <div class="home-button">
      <span (click)="GoToDiaryView()"  class="button-content"> Mi Agenda </span>
    </div>
    <div class="home-button">
      <span (click)="GoToScheduleView()" class="button-content"> Gestionar Horarios </span>
    </div>
    <div class="home-button">
      <span (click)="GoToPendingAppointment()"  class="button-content"> Turnos Pendientes
         <span class="badge" *ngIf="pending > 0">{{pending}}</span>
      </span>
    </div>
  </div>
