@media (min-width: 1px){
  .home-page-container{
    height: 500px;

    h1 {
      color: white;
    }
  }
  .buttons-container {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    justify-content: space-around;
    padding-top: 20%;
    animation: fadein 0.5s;
  }
  .button-title {
    color: darkolivegreen;
    font-size: 22px;
  }

  .button-description {
    color: gray;
    font-size: 15px;
  }
  .home-button {
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    width: 100%;
    height: 95px;
    border-radius: 8px;
    border: solid 1px #00000026;
    background-color: white;
    -webkit-transition: all 7s ease-in-out;
    transition: all 7s ease-in-out;
  }
  .button-content {
    font-weight: 550;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media(min-width: 768px) {
.buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.home-button {
  width: 30%;
}


}
.badge {
  position: relative;
  top: -40%;
  left: 25%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #ff0000;
  color: #ffffff;
  text-align: center;
  font-size: 100%;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}