<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-2  col-md-6">
					<div class="single-footer-widget">
						<h6>Encontra a tu especialista</h6>
						<ul class="footer-nav">
							<li>
								<a href="#">Doctores</a>
							</li>
							<li>
								<a href="#">Clinicas</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4  col-md-6">
					<div class="single-footer-widget mail-chimp">
            <h6 class="mb-20">Pedí turno de forma fácil</h6>
            <ul class="footer-nav">
						<li>
              <a>Elegí la hora que prefieras y pedí turno sin necesidad de llamar. Es fácil, cómodo y muy rápido.</a>
            </li>
            </ul>
					</div>
				</div>
				<div class="col-lg-6  col-md-12">
					<div class="single-footer-widget newsletter">
            <h6>Sos un especialista?</h6>
            <ul class="footer-nav">
              <li>
                <a>Si sos un especialista dejanos tu email y te enviaremos toda la información necesaria para formar parte de Medi+</a>
              </li>
            </ul>
						<div id="mc_embed_signup">
							<form target="_blank" action=""
							 method="get" class="form-inline">

								<div class="form-group row">
									<div class="col-lg-7 col-md-6 col-sm-12">
										<input name="EMAIL" placeholder="Ingrese su direccion de Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese su direccion de Email '"
										 required="" type="email">
									</div>

									<div class="col-lg-5 col-md-12">
										<button class="nw-btn main_btn circle">Empezar
											<span class="lnr lnr-arrow-right"></span>
										</button>
									</div>
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
			</div>


		</div>
	</footer>
