
.header {
  height: 40px;
  width: 100%;
  background-color: rgb(26, 88, 52);
};
.flex-container {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
};
  a {
    color: white;
    font-weight: 550;
  };
#medipluslogo {
  max-width: 80px;

};

.spacer {
  flex: 1 1 auto;
}

.badge-header {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 12px;
  line-height: 10px;
  border-radius: 50%;
  width: 19px;
  height: 17px;
  background-color: #ff0000;
  border: 4px solid #ff0000;
  color: #ffffff;
  text-align: center;
}

.newTurnp{
  margin-bottom: -5%;
  border-top: black 1px dashed;

}
.newTurnbutton{
  height:100% !important;


}
.notification{
  text-align: center;
}


.chumpoa {
  align-items: center;
}
