<div class="schedule-container">
 <div *ngFor="let day of week" class="days">

      <form #schedule = "ngForm" (ngSubmit) = "createOrUpdateWorcableDay(day.number)" class="form">
    <a class="day">{{day.name}}:</a>
    <mat-form-field appearance="outline">
      <mat-label>Hora inicio</mat-label>
      <input type="number" max="24" matInput placeholder="Hora inicio"  [(ngModel)]="workabledays[day.number].startHour " [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Hora fin</mat-label>
      <input type="number" matInput placeholder="Hora fin" [(ngModel)]="workabledays[day.number].finishHour" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Inicio descanso</mat-label>
      <input type="number" matInput placeholder="Inicio descanso" [(ngModel)]="workabledays[day.number].breakStart" [ngModelOptions]="{standalone: true}" >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fin descanso</mat-label>
      <input type="number" matInput placeholder="Fin descanso" [(ngModel)]="workabledays[day.number].breakFinish" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <button  class="button" mat-raised-button type="submit">guardar</button>
      </form>

  </div>

  </div>





