.schedule-container{
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 0px solid #000000;
  padding-top: 40px;
  margin: 45px 60px;
  background: rgba(255,255,255,1);
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
  animation: fadeIn 0.5s;
}

.back {
  margin-top: 30px;
}
.mat-form-field{
  max-width: 13%
}

.inp{
  max-width: 2%;
}

.day{
  display: inline-block;
  width: 80px;
  text-align: left;
}

.button{
  display: inline-block;
  width: 80px;
  text-align: center;
  margin-left: 2%;

}

.days{
  display: space-around;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
  }
